<h1 >{{title}}</h1>
<table class="table">
    <tr>
        <th>Is Even </th>
        <th>Index</th>
        <th>Room Number</th>
        <th>Room Type</th>
        <th>Room Price</th>
        <th>Check In Time</th>
        <th>Check Out Time</th>
        <th>Rating</th>
        <th>Select Room</th>
    </tr>
    <!-- Modify DOM Elements are structual directives they add or remove Dom elements -->
    <!-- are elemets they cant add or remove Dom elements -->
    <tr 
    [ngClass]="e ?'even' :'odd'"
    
    *ngFor="let n of rooms ; let e = even;let i=index" >
        <td>{{e  ? "Even " : "odd"}}</td>
        <td>{{i/100 | percent}}</td>
        <td>{{n.amenities | uppercase}}</td>
        <td>{{n.roomsType}}</td>
        <td>{{n.price | currency : 'GBP' }}</td>
        <td>{{n.checkIn | date : 'shortDate'}}</td>
        <td>{{n.checkOut}}</td>
        <td>{{n.rating | number : '1.1-1'}}</td>
        <td>
            <button class="btn btn-primary" [routerLink]="['/booking', n.roomNumber]">Select

            </button>
        </td>
    </tr>
</table>
