<form action="">
    <!-- <div class="form-group">
        <input
        required
        class="form-control" name="username"
        type="text"
        placeholder="User Name"
        [(ngModel)]="user"
        
        >
    </div> -->
    <div class="form-group">
        <input
        required
        eaHover
        color="primary"
        email="true"
        class="form-control" name="email"
        type="email"
        placeholder="Email"
        [(ngModel)]="email"
        
        >
    </div>
    <div class="form-group">
        <input
        required
        eaHover
        color="steelblue"
        class="form-control" name="password"
        type="text"
        placeholder="password"
        [(ngModel)]="password"
        
        >
    </div>
    <div
    class="form-group"
    
    >
    <button class="btn btn-primary " (click)="login()" >
        LOGIN
    </button>
    </div>

    <div *ngIf="user !=''">
        congrats {{user}} is logged in!
    </div>

</form>