<section>hello</section>

<h1>rooms works!{{hotelName}}</h1>
Number of rooms: {{numRooms}}
<div [innerText]="numRooms">

</div>
<div [hidden] = "hideHotel">
    <p>Hotel Name: {{hotelName}}</p>
</div>

<button (click)="addRooms()">Add Room</button>
<button (click)="hideHotelName()">toggle</button>


<div *ngIf="rooms?.availableRooms">Rooms List</div>
<div [ngStyle]="{'color' : rooms.availableRooms < 10  ?  'green': 'red'}" [innerText]="rooms.availableRooms" > </div>

<!-- {{roosList | json}} -->
<button (click)="deleteRooms()">deleteRooms</button>
<div *ngIf="selectRoomVar">{{selectRoomVar | json}}</div>
<ea-rooms-list 
[title]= "title"
[rooms]="roomsList" (roomSelected)="selectedRoom($event)"></ea-rooms-list>
    <div>
        <Button  (click)="addRoomsObject()">Click to add An object</Button>
    </div>
